@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a>Keep track of projects and their status!</a>.</p>
    <p>Have a way to sort projects based on priority and type (what is the project based on?) </p>
</div>
